#dictionary {
  #dict-words {
    margin-left: 0;
    float: none;

    li {
      display: table-row;
      float: none;
      border-bottom: 1px dotted $grey;

      span {
        display: table-cell;
        padding-top: $unit;
        padding-bottom: $unit;
      }

      .dict-word {
        font-weight: bold;
      }
    }

    p {
      font-size: $small;
    }
  }
}
