.posts {
  margin: 0;
}

.post {
  list-style: none;
  background: $white;
  padding: $unit / 2;
  margin-bottom: $unit;
  width: 95%;
  font-size: $medium;
  @include rounded-corners($unit/2);

  .post-profile-image,
  .post-content {
    float: left;
  }

  .post-profile-image {
    width: 10%;
  }

  .post-content {
    width: 65%;
    padding: 0 $unit/2;
    color: $black;

    .post-user {
      color: $darkSkyBlue; 
    }
  }

  .post-stats {
    margin: 0;
    margin-bottom: $unit;

    li {
      float: left;
      list-style: none;
      margin-right: $unit * 2;
      color: $skyBlue;

      span {
        font-weight: bold;
        font-size: $large;
      }
    }
  }

  .post-media, .post-load-conversation, .post-conversation, .post-view-media {
    clear: both;
  }

  .post-media img {
    margin-top: $unit;
  }

  .post-load-conversation, .post-view-media {
    margin: $unit 0;
    display: block;
  }

  .post-actions {
    float: right;
    width: 15%;
    padding-right: $unit/2;
    font-size: $small;
  }

  .post-footer {
    clear: both;
  }

  .post-date {
    color: $darkAluminium;
    display: block;
  }

  .post-conversation {
    margin: 0;
    margin-top: $unit;

    li {
      list-style: none;
      background: $lightGrey;
      margin-bottom: $unit;
      padding: $unit;
      @include rounded-corners(5px);
    }
  }
}
