/* Measures */

$unit: 10px;
$small: 11px;
$medium: 12px;
$large: 14px;
$larger: 16px;
$largest: 20px;
$huge: 32px;

$defaultLineHeight: 1.5em;

/* Colors */

$white: #fff;
$black: #000;
$grey: #ccc;
$lightGrey: #eee;
$darkGrey: #333;

/* Based on Tango Palette: http://tango.freedesktop.org/static/cvs/tango-art-tools/palettes/Tango-Palette.png */

$darkScarletRed: #a40000;
$lightScarletRed: #ef2929;
$lightAluminium: #eeeeec;
$darkAluminium: #555753;
$darkChameleon: #4e9a06;
$darkSkyBlue: #204a87;
$skyBlue: #3465a4;
