#translation-workbench {

  #translation-target {

    form {
      margin: 0;
    }

    .counter, .autosave, .mt {
      padding: 0;
      margin: 0;
      line-height: 23px; 
    }

    .counter {
      float: right;
      font-size: $small;
      text-align: right;
      color: $darkChameleon;
      margin-left: $unit; 
      &.tweet-limit-exausted {
        color: $darkScarletRed;
      }
    }

    .autosave {
      font-size: $small;
      float: left;
      color: $darkAluminium;
    }

    .mt {
      float: right;

      .dropdown-menu {
        padding: $unit;

        p {
          text-align: center;
        }

        .dropdown-menu-inner {
          display: table;
        }

        li {
          display: table-row;

          label, select {
            display: table-cell;
            font-size: $small;
          }

          label {
            padding-right: $unit / 2;
            text-align: right;
          }
        }
      }

      .mt-message {
        font-size: $small;
        color: $darkSkyBlue;
      }
    }

    .workbench-form-footer {
      clear: both;
    }

  }

}
