#translation-workbench {

  h5 {
    float: left;
  }

  #translation-source {
    position: relative;
    overflow: hidden;
  }

  #translation-target {
    position: relative;
    padding-bottom: $unit * 5;

    form {
      margin: 0;

      .publish {
        position: absolute;
        bottom: $unit;
        margin: 0;
        text-align: center;
        width: 100%;

        span, span a {
          font-size: $small;
          color: $darkSkyBlue;
        }

        span a {
          text-decoration: underline;
        }
      }
    }

    .counter, .autosave, .mt {
      padding: 0;
      margin: 0;
      line-height: 23px; 
    }

    .counter {
      float: right;
      font-size: $small;
      text-align: right;
      color: $darkChameleon;
      margin-left: $unit; 
      margin-bottom: $unit;
      &.post-limit-exausted {
        color: $darkScarletRed;
      }
    }

    .autosave {
      font-size: $small;
      float: left;
      color: $darkAluminium;
    }

    .workbench-form-footer {
      clear: both;
      border-top: 1px solid $grey;
    }

  }

  #translations {

    #mt-form {
      clear: both;
      font-size: $medium;

      select {
        display: inline;
        font-size: $medium;
        line-height: 22px;
        height: 22px;
        margin: 0;
        width: 12%;
      }

      .mt-message {
        font-size: $medium;
        color: $darkSkyBlue;
      }

      input {
        font-size: $medium;
      }
    }

    .post {
      position: relative;
      padding: $unit;

      .translation-info {
        color: $grey;

        a {
          color: $grey;
          text-decoration: underline;
        }
      }

      .translation-text {
        color: $black;

        span {
          position: absolute;
          bottom: 0;
          right: $unit;
          color: $grey;

          a {
            color: $grey; 
          }
        }
      }

      form {
        font-size: $medium;
        input {
          font-size: $medium;
        }
      }

      .annotations {
        margin: 0;
        margin-bottom: $unit;
        border-top: 1px dotted $lightGrey;

        li {
          border-bottom: 1px dotted $lightGrey;
        }

        em {
          color: $grey;
        }
      }
    }

  }

  .translation-workbench-inner {
    clear: both;
  }

  .queue-count {
    cursor: help;
  }

  #queue-bar {
    li {
      cursor: pointer;
      color: $linkColor;
      float: right;
      padding: $unit 0 $unit $unit/2;
      display: block;
      font-size: $medium;
    }
    li:hover {
      text-decoration: underline;
    }
  }

  #queue {
    li {
      div {
        cursor: pointer;
        clear: both;

        &:hover {
          border-color: $darkGrey;
        }
      }

      .remove-from-list {
        display: block;
        color: $grey;
        float: right;
        text-decoration: none;

        &:hover {
          color: $darkGrey;
        }

        span {
          display: none;
        }
      }
    }
  }

}
