# For Twitter, register an app at http://dev.twitter.com/apps
# For Google Translate, you need to purchase a key
# Copy this file to config/apis.yml

development:
  translatedesk:
    public_host: 'public host where this application is running'
  twitter:
    consumer_key : 'your consumer key'
    consumer_secret : 'your consumer secret'
    oauth_token : 'your access token'
    oauth_token_secret : 'your access token secret'
  google_translate: 'your api key'
  bing_translate:
    client_id: 'your client id'
    client_secret: 'your client secret'
  bitly:
    username: 'your username'
    api_key: 'your api key'
    example: 'an example url to show on preview'

production:
  translatedesk:
    public_host: 'public host where this application is running'
  twitter:
    consumer_key : 'your consumer key'
    consumer_secret : 'your consumer secret'
    oauth_token : 'your access token'
    oauth_token_secret : 'your access token secret'
  google_translate: 'your api key'
  bing_translate:
    client_id: 'your client id'
    client_secret: 'your client secret'
  bitly:
    username: 'your username'
    api_key: 'your api key'
    example: 'an example url to show on preview'

test:
  translatedesk:
    public_host: 'public host where this application is running'
  twitter:
    consumer_key : 'your consumer key'
    consumer_secret : 'your consumer secret'
    oauth_token : 'your access token'
    oauth_token_secret : 'your access token secret'
  google_translate: 'your api key'
  bing_translate:
    client_id: 'your client id'
    client_secret: 'your client secret'
  bitly:
    username: 'your username'
    api_key: 'your api key'
    example: 'an example url to show on preview'
