@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  padding:50px;
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#777;
  font-weight:300;
  text-align: center;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

div.logo {
  margin-top: 4em;
}

div.quotecontent {
    width:600px;
    margin-left:auto;
    margin-right:auto;
    margin-top:1em;
    }

div.content {
    width:550px;
    margin-left:auto;
    margin-right:auto;
    margin-top:1em;
    }

<!-- Set a to the same color as the logo -->
a:link {
    color:#7bcc80;
    text-decoration:none;
    font-weight:bold;
    }
    
    a:visited {
    color:#7bcc80;
    text-decoration:none;
    font-weight:bold;
    }
    
    a:hover {
    color:#7bcc80;
    text-decoration:underline;
    font-weight:bold;
    }
    
        a:active {
    color:#7bcc80;
    text-decoration:underline;
    font-weight:bold;
    }

input {
    height:21px;
    width:150px;
    }
    
button.subscribe {
    height:25px;
    color:#777;
    background-color:white;
    border:2px solid #7bcc80;
    border-radius:10px
    }

p.quote {
  width: 80%;
  font-size: 2em;
  margin-left:auto;
  margin-right:auto;
}

p.callout {
    font-size:1em;
    font-weight:bold;
    }

.attribution {
  display: block;
  margin: 0 auto;
}

