<h1>Sign up</h1>

<form ng-submit="create()">

  <div class="message" ng-show="message">{{message}}</div>
  
  <div class="control-group">
    <label class="control-label" for="name">Name</label>
    <div class="controls">
      <input type="text" id="name" name="name" placeholder="Name" ng-model="registration.name" required>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label" for="email">E-mail</label>
    <div class="controls">
      <input type="email" id="email" name="email" placeholder="E-mail" ng-model="registration.email" ng-minlength="2" required>
    </div>
  </div>
    
  <div class="control-group" ng-hide="provider">
    <label class="control-label" for="password">Password</label>
    <div class="controls">
      <input type="password" id="password" name="password" placeholder="Password" ng-model="registration.password" ng-minlength="2" password-validate required>
    </div>
  </div>

  <div class="control-group" ng-hide="provider">
    <label class="control-label" for="password_confirmation">Password confirmation</label>
    <div class="controls">
      <input type="password" id="password_confirmation" name="password_confirmation" placeholder="Password" ng-model="registration.password_confirmation" ng-minlength="2" password-validate required>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Sign up</button>
    </div>
  </div>

</form>
