<ul class="filters">
  <li><input type="checkbox" ng-model="filter.in_reply_to_status_id" /> contains @reply</li>
  <li><input type="checkbox" ng-model="filter.is_not_reply" /> no @reply</li>
  <li><input type="checkbox" ng-model="filter.retweeted_status" /> contains "RT"</li>
  <li><input type="checkbox" ng-model="filter.media_count" /> contains image</li>
  <li><input type="checkbox" ng-model="filter.urls_count" /> contains link</li>
  <li><input type="checkbox" ng-model="filter.distance" /> contains location</li>
</ul>
