<div id="translator-request-queue" class="span4" ng-controller="PublishController">
  <div class="well">
    <h5>Translator Request Queue</h5>
    <form ng-submit="fetch()">
      <div class="searchbox controls controls-row input-append span12">
        <select ng-model="workbench.provider" class="span4" ng-options="p.name for (id, p) in workbench.providers"></select>
        <input type="text" class="span5" ng-model="postQuery" placeholder="Keyword, #hashtag or @username">
        <button class="btn span3">Search</button>
      </div>

      <label>Sort by</label>
      <select ng-model="sortCriteria" class="span12">
        <option value="popularity">Resonance</option>
        <option value="created_at">Date and Time</option>
        <option value="distance">Location</option>
      </select>

      <label>Sort order</label>
      <select ng-model="sortOrder" class="span12">
        <option value="">Ascending</option>
        <option value="reverse">Descending</option>
      </select>

      <label>Limit</label>
      <select ng-model="searchLimit" ng-change="posts.length && fetch()" class="span12">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>

      <label>Source language handler</label>
      <select ng-model="sourceLanguageHandler" ng-change="posts.length && fetch()" class="span12">
        <option value="provider">Provider ({{workbench.provider.name}})</option>
        <option value="google">Google Translate Auto-Detect</option>
        <option value="langid">Local Language Identification Tool (langid.py)</option>
      </select>

      <label>Filters</label>
      <div ng-include="filterTemplateUrl()"></div>
    </form>
    <div class="message" ng-show="message">{{message}}</div>
    <h5 class="results-count" ng-show="(posts | filter:filterQueue).length">There are {{(posts | filter:filterQueue).length}} posts.</h5>
    <ul class="posts">
      <li class="post" ng-repeat="post in posts | orderBy:sortQueue:sortOrder | filter:filterQueue" ng-include="postTemplateUrl()"></li>
    </ul>
  </div>
</div>
 
<div id="translation-workbench" class="span5" ng-controller="TranslationController">
  <h5>Translation Workbench <span ng-show="workbench.queue.length" class="queue-count" title="How many posts you have on your list">({{workbench.queue.length}})</span></h5>
  <ul id="queue-bar" ng-show="workbench.queue.length">
    <li ng-click="removeFromQueue()"><i class="icon-remove"></i> Remove from list</li>
    <li ng-click="showQueue()"><i class="icon-list"></i> View your list</li>
  </ul>
  <div id="queue" class="modal hide fade in" style="display: none;">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">X</a>
      <h3>List</h3>
      <p>Click on a post in order to translate it <em ng-show="queueLastSave.ago">(queue last saved {{queueLastSave.ago}})</em>.</p>
    </div>
    <div class="modal-body">
      <ol>
        <li ng-repeat="post in workbench.queue">
          <a href="#" ng-click="removeFromQueue(post)" title="Remove from list" class="remove-from-list"><i class="icon-remove"></i> <span>Remove from list</span></a>
          <div class="well" ng-click="workbench.source = post" data-dismiss="modal">
            <span><a href="{{post.user.url}}" target="_blank">{{post.user.name}}</a>: {{post.text}}</span>
          </div>
        </li>
      </ol>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" ng-click="clearQueue()">Clear list</a>
      <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
  </div>
  
  <!-- FIXME: Is there a way to bind variables instead of using ng-repeat? -->
  <div class="translation-workbench-inner" ng-show="workbench.source" ng-repeat="post in [workbench.source]">

    <div id="translation-source" class="well">
      <div ng-include="postTemplateUrl()"></div>
    </div>

    <div id="translation-target" class="well">
      <form ng-submit="publish()">

        <textarea ng-model="translatedPost" ng-init="prepareTranslation(post)" ng-change="updateModel(translatedPost)" class="span12"></textarea>

        <div id="preview" class="modal hide fade in" style="display: none;">
          <div class="modal-header">
            <a class="close" data-dismiss="modal">X</a>
            <h3>Preview</h3>
          </div>
          <div class="modal-body">
            <p>{{previewContent}}</p>
          </div>
          <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <input type="submit" value="Publish" class="btn btn-primary" id="publish-post-button" /> <span ng-bind-html-unsafe="publishingMessage"></span>
          </div>
        </div>

        <p class="publish">
          <a class="btn btn-info" ng-click="preview()">Preview &amp; Publish</a> 
        </p>
      </form>
      <p class="counter" ng-class="{ 'post-limit-exausted' : translatedPost.length > workbench.provider.charsLimit }">{{workbench.provider.charsLimit - translatedPost.length}}</p>
      <p class="autosave" ng-show="lastSave.ago">Draft saved {{lastSave.ago}}</p>
      <div class="workbench-form-footer"></div>
    </div>

    <div id="translations">
      <form ng-submit="machineTranslate()" id="mt-form">
        <p>Request machine translation through 
        <select ng-change="selectMachineTranslator()" ng-init="getMachineTranslators()" ng-model="machineTranslator" ng-options="provider.name for provider in machineTranslators" required>
          <option value=""> - </option>
        </select> 
        from 
        <select ng-model="sourceLanguage" ng-options="language.code as language.name for language in machineTranslator.languages" required>
          <option value=""> - </option>
        </select> 
        to 
        <select ng-model="targetLanguage" ng-options="language.code as language.name for language in machineTranslator.languages" required>
          <option value=""> - </option>
        </select> 
        <input type="submit" class="btn btn-mini" value="Translate" /> 
        <span class="mt-message">{{machineTranslationMessage}}</span>
        </p>
      </form>
      
      <h5>Translations</h5>

      <ul class="posts">
        <li class="post well well-small" ng-repeat="(id, post) in translations">
          <p class="translation-info">Translated to {{post.target_language_readable}} by {{post.author_name}} on {{post.created_at | date:'h:mma Z d MMM yy'}}</p>
          <p class="translation-text" class="well">{{post.text}} <span><i class="icon-external-link"></i> <a href="{{post.published_url}}" target="_blank">See online</a></span></p>
          <ul class="annotations">
            <li ng-repeat="annotation in post.annotations">
              <a href="{{annotation.user.url}}" target="_blank">{{annotation.user.name}}</a> <em>({{annotation.date | date:'h:mma Z d MMM yy'}})</em>:<br />{{annotation.text}}
            </li>
          </ul>
          <form ng-submit="annotate(post)">
            <input type="hidden" name="post_id" ng-model="post.id" value="{{id}}" />
            <input class="span12" type="text" ng-model="post.annotation" name="annotation" placeholder="Add an annotation and hit [enter]" />
            <span ng-show="post.annotationMessage" class="message">{{post.annotationMessage}}</span>
          </form>
        </li>
      </ul>
    </div>

  </div>
</div>

<div id="dictionary" class="span3" ng-controller="DictionaryController">
  <div class="well" class="span12">
    <h5>Dictionary</h5>
    <div class="message" ng-show="message">{{message}}</div>
    <form ng-submit="search()">
      <p><input type="text" class="span12" ng-model="dictPattern" placeholder="Search & Filter" /></p>
    </form>
    <p ng-hide="dictWords.length"><em>You can use the field above to filter the words below, by just typing, or search for more words by typing words on the field above (separated by commas) and hitting [enter].</em></p>
    <ul id="dict-words" class="span12">
      <li class="span12" ng-repeat="word in dictWords | filter:searchFilter">
        <span class="span4 dict-word">{{word.original}}</span>
        <span class="span8 dict-meaning">{{word.meaning}}</span>
      </li>
    </ul>
  </div>
</div>
