<!-- Uncomment to enable rich view
FIXME: Evaluate if rich view is better than a custom template, like we do below
<blockquote class="twitter-tweet">
  <p>{{tweet.text}}</p> &mdash; {{tweet.user.name}} (@{{tweet.user.screen_name}})
  <a href="https://twitter.com/{{tweet.user.screen_name}}/status/{{tweet.id_str}}" data-datetime="{{tweet.created_at}}"></a>
  <script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</blockquote>
-->
<div class="tweet" ng-controller="TwitterController">

  <div class="tweet-body">
    <img class="tweet-profile-image" src="{{tweet.user.profile_image_url}}" alt="" />

    <div class="tweet-content">
      <p>
        <span class="tweet-user">{{tweet.user.name}} (@{{tweet.user.screen_name}})</span> 
        <span class="tweet-text">{{tweet.text}}</span>
      </p>

      <ul class="tweet-stats">
        <li><span>{{tweet.retweet_count}}</span> retweets</li>
        <li><span>{{tweet.favorite_count}}</span> favorites</li>
        <li><span>{{tweet.popularity}}</span> popularity</li>
        <li ng-show="tweet.distance"><span>{{tweet.distance}}</span> km of distance</li>
      </ul>

      <a class="tweet-view-media" ng-click="tweet.viewMedia = true" ng-show="tweet.media_count && !tweet.viewMedia">&raquo; View attached media</a>
      <div class="tweet-media" ng-show="tweet.viewMedia">
        <img ng-src="{{tweet.entities.media[0].media_url}}" />
      </div>

      <a class="tweet-load-conversation" ng-click="loadConversation(tweet)" ng-show="tweet.in_reply_to_status_id && !tweet.conversation">&raquo; View full conversation</a>
      <ul class="tweet-conversation">
        <li ng-repeat="reply in tweet.conversation">
          <span class="tweet-user">{{reply.user.name}} (@{{reply.user.screen_name}})</span> 
          <span class="tweet-text">{{reply.text}}</span> 
          <span data-datetime="{{reply.created_at}}" class="tweet-date">{{reply.created_at | date:'h:mma Z d MMM yy'}}</span>
        </li>
      </ul>
    </div>

    <div class="tweet-actions">
      <span data-datetime="{{tweet.created_at}}" class="tweet-date">{{tweet.created_at | date:'h:mma Z d MMM yy'}}</span> 
      <a ng-click="translate(tweet)" ng-hide="tweet == workbench.source">translate &raquo;</a>
    </div>
  </div>

  <div class="tweet-footer"></div>

</div>
