<div class="post" ng-controller="PublishController">

  <div class="post-body">
    <span class="post-language">{{post.lang}}</span>

    <img class="post-profile-image" src="{{post.user.profile_image_url}}" alt="" />

    <div class="post-content">
      <p>
        <span class="post-user"><a href="{{post.user.url}}" target="_blank">{{post.user.name}}</a></span> 
        <span class="post-text">{{post.text}}</span>
      </p>

      <ul class="post-stats">
        <li><span>{{post.shares_count}}</span> shares</li>
        <li><span>{{post.likes_count}}</span> likes</li>
        <li><span>{{post.comments_count}}</span> comments</li>
        <li><span>{{post.popularity}}</span> resonance</li>
        <li ng-show="post.distance"><span>{{post.distance}}</span> km from your current location</li>
      </ul>

      <a class="post-view-media" ng-click="post.viewMedia = true" ng-show="post.picture && !post.viewMedia">&raquo; View attached media</a>
      <div class="post-media" ng-show="post.viewMedia">
        <img ng-src="{{post.picture}}" />
      </div>

      <!-- FIXME: How will conversation work here? -->
    </div>

    <div class="post-actions">
      <span data-datetime="{{post.created_at}}" class="post-date"><a href="{{post.url}}" target="_blank">{{post.created_at | date:'h:mma Z d MMM yy'}}</a></span> 
      <a ng-click="translate(post)" ng-hide="postQueued(post)">translate &raquo;</a>
      <span class="message success" ng-show="postQueued(post)">picked</span>
    </div>
  </div>

  <div class="post-footer"></div>

</div>
